<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="login-content" padding>
  <div class="login-box">
    
    <form (ngSubmit)="register()" #lregisterForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="first name" name="fname" [(ngModel)]="registerCredentials.fname" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="last name" name="lname" [(ngModel)]="registerCredentials.lname" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="user name" name="uname" [(ngModel)]="registerCredentials.uname" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>

            
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!lregisterForm.form.valid">Register</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>
