page-home {
    .login-content {
        background: #56CA96;
     
        .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;
        }
     
        ion-col {
          background: #399F8B;
          padding: 20px 20px 0px 20px;
          margin-top: 30px;
          border-radius: 30px !important;
          border: 1px solid #ffffff;
          color: #ffffff;
          font-size: 0.8em;
        }
     
        ion-row {
           align-items: center;
           text-align: center;
         }
      }
}
