<ion-header>
  <ion-navbar  color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Musiqar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login-content">
    <ion-list>
        <audio-track #audio *ngFor="let track of myTracks"  [track]="track" (onFinish)="onTrackFinished($event)">
          <ion-item > 
              
            <ion-thumbnail item-left>
              <img src="https://www.musiqar.com/uploads/media/{{audio.art}}">
              <audio-track-play dark [audioTrack]="audio"></audio-track-play>  
            </ion-thumbnail>
            <div item-content style="width:100%">
              <p><strong>{{audio.title}}</strong></p>
            </div>
          </ion-item>    
        </audio-track>
      </ion-list>
</ion-content>
